html, body{
	height: 100%;
	background: #f7f6f2; 
	-webkit-transition: all 1s ease-in-out;
-moz-transition: all 1s ease-in-out;
-ms-transition: all 1s ease-in-out;
-o-transition: all 1s ease-in-out;
transition: all 1s ease-in-out;
}
.turn{
	-moz-transform: rotate(360deg);
-webkit-transform: rotate(360deg);
-o-transform: rotate(360deg);
-ms-transform: rotate(360deg);
transform: rotate(360deg);
}
#control{
	width:100%;
	height:60px;
	background: #e0602f;
}
.wrap{
	margin:0 auto;
}
header .wrap{
	width:1080px;
}
header#control span.tab{
	height:40px;
	margin-top: 10px;
	display: block;
	padding: 0 10px;
	margin-left: 20px;
	float: left;
	line-height: 40px;
	color: #fff;
	font-weight: bold;
}
header#control span.tab.active{
	background: #f56d3b;
}
header#control span#logo{
	display: block;
	float:left;
	width:300px;
	height: 60px;
	background: url('../img/logo.png') center center no-repeat;
	background-size: 40%;
}
header#control a.profil{
	float: right;
	margin-top: 1px
}
header#control a.profil img{
	width:50px;
	height: 50px;
	border-radius:50px;
	overflow: hidden;
	margin-right: 20px;
	border:4px solid #fff;
}
header#control a.profil .name{
float: right;
height: 50px;
line-height: 50px;
color: #fff;
font-weight: bold;	
margin-right: 20px;
}
.content.wrap{
	margin-top:0;
	width:1080px;
	/*height:100%;*/
}
#coloumn-left{
	height:100%;
	background: #353535;
	width:300px;
	color:#fff;
	float: left;
}
#coloumn-left .filter-date{
	overflow: hidden;
	padding-top: 20px;
} 
#coloumn-left .filter-category span.title{
	margin-left:14px;
	margin-top: 40px;
	margin-bottom: 20px;
	font-size: 20px;
	display: block;
}
#coloumn-left h2 a{
	text-decoration: none;
	color:#fff;
	display: block;
	width: 100%;
	height:100%;
	line-height: 50px;
}
#coloumn-left h2{
	background:#1e1e1e;
	width:252px;
	min-height: 50px;
	margin:10px auto;
	text-align: center;
	text-transform: uppercase;
}
#coloumn-left h2.small{
	float:left;
	width:114px;
	margin-left:24px;
}
#coloumn-left h2:hover{
	background:#f56d3b;

}
#coloumn-left h2.active{
	background:#dd4c37;
}
#coloumn-right {
	height:100%;
}

#coloumn-right  #lateTask, #coloumn-right #exportDbh{display:none;}
#coloumn-right #contener{
	width:780px;
	background:#e0e0e0;
	height:100%;
	margin:0;
	float:left;
}
#coloumn-right #contener h1{
	background:#fff;
	text-transform: uppercase;
	font-weight: 100;
}
#coloumn-right #contener ul#sortable{
	width: 780px;
}
#coloumn-right #contener ul#sortable > li{
	margin: 10px 30px;
	border: none;
	border-radius:0;
	min-height: 60px;
	height: inherit;
}
#coloumn-right #contener ul#sortable > li:nth-child(1),
#coloumn-right #contener ul#sortable > li:nth-child(3),
#coloumn-right #contener ul#sortable > li:nth-child(5),
#coloumn-right #contener ul#sortable > li:nth-child(7),
#coloumn-right #contener ul#sortable > li:nth-child(9),
#coloumn-right #contener ul#sortable > li:nth-child(11)
{
	margin-left:60px;
}

#coloumn-right #contener ul#sortable header.titre{
	height:50px;
	background:#353535;
	padding: 0;
	line-height: 50px;
	text-transform: uppercase;
	font-size: 18px;
}

#coloumn-right #contener ul#sortable header.titre i{
	top:0;
	right:0;
	width:50px;
	height:50px;
	border-radius:0;
	line-height: 50px;
	background: #ce4733;
}

#coloumn-right #contener ul#sortable li ul li{
	background: #656565;
	border:none;
	text-transform: uppercase;
	color: #fff;
	font-size: 14px;
	height:40px;
	line-height: 40px;
	width:90%;
	padding:0 0 0 10%;
	cursor: pointer;
}
#coloumn-right #contener ul#sortable li ul li i{
	display:none;
	height:40px;
	width:50px;	
	line-height: 40px;
	text-align: center;
}
#coloumn-right #contener ul#sortable li ul li:hover i{
	display:block;
	background: #f56d3b;
}
#coloumn-right #contener ul#sortable li ul li:hover i:hover{
	background: #dd4c37;
}

body.hidden{
  overflow: hidden;
}

#canvas{
  width: 0;
  height: 0;
  display: none;
}