body{
	margin: 0;
	padding: 0;
	background: #fafafa;
	font-family: 'Roboto', sans-serif;
}
*{font-family: 'Roboto', sans-serif !important;}

/* ADD TASK */
#add-task{
	min-width: 800px;
	width: 100%;
	background:#4183D7;
	padding: 20px 0;
	overflow: hidden;
	border-bottom: 4px solid #2C3E50;
}

#add-task form{
	width: 730px;
	display: block;
	margin: 0 auto;
}

#add-task form input[name="content-task"]{
	width:710px;
	height:20px;
	padding: 10px;
	border: none;
}

#add-task form input[name="date_end-task"]{
	width:190px;
	height:20px;
	padding: 10px;
	border: none;
	float: left;
	text-align: center;
	background:#6BB9F0;
	color: #000;
}

#add-task form input[name="date_end-task"]::-webkit-input-placeholder { /* WebKit browsers */
    color:    #000;
}
#add-task form input[name="date_end-task"]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #000;
   opacity:  1;
}
#add-task form input[name="date_end-task"]::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #000;
   opacity:  1;
}
#add-task form input[name="date_end-task"]:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #000;
}

#add-task form select{
	background:#6BB9F0;
	border:none;
	width:210px;
	float: left;
	height:40px;
}

#add-task form input[type="submit"]{
	display: block;
	float:right;
	width:100px;
	height: 40px;
	background:#2C3E50;
	border:none;
	color: #fff;
}

/* FOOTER */
footer{
	border-top:4px solid #22313F;
	width:100%;
	min-width: 800px;
	line-height: 80px;
	height: 80px;
	text-align: center;
	position:fixed;
	bottom:0;
	background:#2C3E50;
}